.body {
	margin: 0;
	padding: 0;
	background-color: #77C9D4;
}

.navigationBar {
	background-color: white;
	margin: 0;
	height: 35px;
	box-shadow: 0 10px 10px -2px rgba(0,0,0,.2);
	display: grid;
	overflow: hidden;
}

.navigationButton {
	height: 35px;
	width: 180px;
	font-size: 19px;
	color: grey;
	margin: 0pxpx;
	border: none;
	background-color: white;
}

.navigationButton:hover{
	background-color: grey;
	color: white;
}

.navigationButton:active {
	background-color: #77C9D4;
	color: grey;
}

.navigationBar .hamburgerIcon{
	display: none;
}

@media screen and (max-width: 870px) {
	.navigationBar a:not(:last-child) {display: none;}
	.navigationButton {width: 100vw;}
	.navigationBar a.hamburgerIcon{
		display: flex;
		justify-content: center;
	}
}


.navigationBarResponsive {
	background-color: white;
	margin: 0;
	height: 210px;
	box-shadow: 0 10px 10px -2px rgba(0,0,0,.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
