body {
	margin: 0;
	background-color: black;
	color: white;
}

p {
	margin: 50px;
	animation: fadeIn linear 1s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.navigationBar {
	background-color: rgba(100,100,100,0.8);
	margin: 0;
	height: 35px;
	width: 100vw;
	display: grid;
	position: fixed;
	top: 0;
}

.mountainimg {
	position: absolute;
	height: 100px;
	top: 0%;
	grid-area: 1/1/span 1 /span 99;
}

.navigationButton {
	background-color: rgba(180,180,180,0.0);
	height: 35px;
	width: 180px;
	font-size: 19px;
	color: white;
	margin: 0pxpx;
	border: none;
}

.navigationButton:hover{
	background-color: grey;
	color: white;
}

.navigationButton:active {
	background-color: #082C6C;
	color: grey;
}

.navigationBar .hamburgerIcon{
	display: none;
}

@media screen and (max-width: 700px) {
	.navigationBar a:not(:last-child) {display: none;}
	.navigationButton {width: 100vw;}
	.navigationBar a.hamburgerIcon{
		display: inline-block;
		height: 35px;
	}
}


.navigationBarResponsive {
	background-color: rgba(100,100,100,0.8);
	margin: 0;
	height: 170px;
	position:fixed;
	top: 0;
}
